---
interface BlogPost {
    name: string;
    description: string;
    tags?: string[];
    link: {
        url?: string;
        target?: string;
        title?: string;
        buttonLabel?: string;
    };
};

const projects: BlogPost[] = [{
    name: 'Azure Budgets & Cost Management',
    description: 'Learn how to effectively manage and optimize your Azure costs using budgets and cost management tools.',
    tags: ['azure', 'cloud'],
    link: {
        url: 'https://dev.to/beingwizard/azure-budgets-and-cost-management-37pf',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Making most out of MLSA Program',
    description: 'A comprehensive guide to maximizing your experience in the Microsoft Learn Student Ambassador program.',
    tags: ['community', 'microsoft'],
    link: {
        url: 'https://dev.to/beingwizard/making-most-of-microsoft-campus-ambassador-program-4iii',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'How does Bitcoin work?',
    description: 'A deep dive into the technical workings of Bitcoin and blockchain technology.',
    tags: ['blockchain', 'crypto'],
    link: {
        url: 'https://dev.to/beingwizard/how-bitcoin-work--1ech',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Azure Site Recovery',
    description: 'Explore disaster recovery solutions with Azure Site Recovery for business continuity.',
    tags: ['azure', 'cloud'],
    link: {
        url: 'https://dev.to/beingwizard/azure-site-recovery-4gfn',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Azure Migrate Service',
    description: 'A guide to seamlessly migrating your workloads to Azure using Azure Migrate Service.',
    tags: ['azure', 'cloud'],
    link: {
        url: 'https://dev.to/beingwizard/azure-migrate-58n2',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Azure Firewall',
    description: 'Understanding Azure Firewall for enhanced network security in the cloud.',
    tags: ['azure', 'security'],
    link: {
        url: 'https://dev.to/beingwizard/azure-firewall-222b',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Azure Key Vault',
    description: 'Secure your secrets and keys with Azure Key Vault - a comprehensive guide.',
    tags: ['azure', 'security'],
    link: {
        url: 'https://dev.to/beingwizard/azure-key-vault-4j8k',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Azure Managed Identities for Seamless Integration',
    description: 'Learn how to implement secure authentication using Azure Managed Identities.',
    tags: ['azure', 'security'],
    link: {
        url: 'https://dev.to/beingwizard/unleashing-the-power-of-azure-managed-identities-for-seamless-integration-2kf5',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Azure Point-to-Site and Site-to-Site Connections',
    description: 'Master Azure connectivity options with Point-to-Site and Site-to-Site VPN connections.',
    tags: ['azure', 'networking'],
    link: {
        url: 'https://dev.to/beingwizard/unlock-seamless-connectivity-with-azure-point-to-site-and-site-to-site-connections-1caa',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Azure Peering: Network Command with Precision',
    description: 'Deep dive into Azure network peering for optimal network architecture.',
    tags: ['azure', 'networking'],
    link: {
        url: 'https://dev.to/beingwizard/mastering-azure-peering-commanding-your-network-with-precision-51e5',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Networking in Microsoft Azure',
    description: 'Comprehensive overview of networking concepts and implementations in Azure.',
    tags: ['azure', 'networking'],
    link: {
        url: 'https://dev.to/beingwizard/networking-in-microsoft-azure-13h5',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Azure Network Security Groups',
    description: 'Learn to secure your Azure networks using Network Security Groups.',
    tags: ['azure', 'networking', 'security'],
    link: {
        url: 'https://dev.to/beingwizard/azure-network-security-groups-1fhn',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Azure Resource Locks and Azure Policy',
    description: 'Implement governance and control with Azure Resource Locks and Policies.',
    tags: ['azure', 'security'],
    link: {
        url: 'https://dev.to/beingwizard/100-days-of-cloud-day-8-azure-resource-locks-and-azure-policy-1kin',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'VM Deployment with ARM Templates in VS Code',
    description: 'Streamline your Azure VM deployments using ARM templates in Visual Studio Code.',
    tags: ['azure', 'infrastructure'],
    link: {
        url: 'https://dev.to/beingwizard/streamlining-azure-virtual-machine-deployment-with-arm-templates-in-visual-studio-code-2ce9',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Deploy VM using Azure PowerShell',
    description: 'Step-by-step guide to deploying Azure VMs using PowerShell automation.',
    tags: ['azure', 'infrastructure'],
    link: {
        url: 'https://dev.to/beingwizard/deploy-a-virtual-machine-using-azure-powershell-4gk5',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Virtual Machine with Azure Portal',
    description: 'Learn to deploy and manage Virtual Machines using the Azure Portal.',
    tags: ['azure', 'infrastructure'],
    link: {
        url: 'https://dev.to/beingwizard/virtual-machine-with-azure-portal-43kf',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Azure RBAC & Azure Active Directory',
    description: 'Master secure access management with Azure RBAC and Azure Active Directory.',
    tags: ['azure', 'security'],
    link: {
        url: 'https://dev.to/beingwizard/azure-role-based-access-control-azure-active-directory-unveiling-the-power-of-secure-access-management-5gcj',
        buttonLabel: 'Read on Dev.to'
    }
}, {
    name: 'Resource Groups in Microsoft Azure',
    description: 'Understanding the fundamentals of resource organization in Azure.',
    tags: ['azure', 'infrastructure'],
    link: {
        url: 'https://dev.to/beingwizard/resource-groups-in-microsoft-azure-5d1a',
        buttonLabel: 'Read on Dev.to'
    }
}];
---

<div>

    <!-- <h2 class="text-2xl font-bold text-white mb-4">Latest Projects</h2> -->

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">

        {projects.map(project =>

            <div class="flex flex-col justify-center items-start border border-gray-700 rounded-lg p-4 bg-black">

                <h3 class="text-xl font-semibold text-white mb-2">
                    {project.name}
                </h3>

                <p class="text-gray-400 mb-3">
                    {project.description}
                </p>

                <div class="flex flex-wrap gap-2 mb-4">
                    {project.tags?.map(tag => (
                        <span class="text-primary text-sm">#{tag}</span>
                    ))}
                </div>

                {
                    project.link?.url ?
                        <a
                            href={project.link.url}
                            title={project.link.title || project.name}
                            target={project.link.target || '_blank'}
                            class="
                                w-full px-4 py-2.5 mt-4 text-center

                                border border-gray-600 rounded-lg

                                hover:text-primary
                                hover:border-primary
                            ">
                            {project.link.buttonLabel || 'Open Project Website'}
                        </a>
                    : null
                }

            </div>

        )}

    </div>

</div>
